# .env.example - Copy this file to .env and fill in your own values
MONGO_URI=mongodb://localhost:27017/mongodb_name

# 🔐 ACCESS TOKEN (short-lived)
JWT_ACCESS_SECRET=your_super_secure_access_secret

# 🔁 REFRESH TOKEN (separate secret - MUST be different)
JWT_REFRESH_SECRET=your_super_secure_refresh_secret

# ⏱ token expiry
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d

# 🖼 ImageKit Configuration
IMAGE_KIT_PUBLIC_KEY=your_imagekit_public_key
IMAGE_KIT_PRIVATE_KEY=your_imagekit_private_key
IMAGE_KIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id